<div style="background-color: white;">
  <iframe frameborder="0"
  width="1000px"
  src="http://www.buchkatalog.de/kod-bin/isuche.cgi?caller=93325&aktion=start&location=home&naviggif=home&navigaktiv=nein"
  scrolling="no" height="110%">
  </iframe>
</div>
