<div>
  <iframe frameborder="0"
    width="1000px" 
    src="http://www.buchkatalog.de/kod-bin/isuche.cgi?caller=93325&aktion=rubrik&rubrikid=DVDVideoAlleBereiche&usecookie=ja&navigaktiv=ja" 
    scrolling="no" height="110%">
  </iframe>
</div>
